/* EXTRA CONTROLS */
.extra{
  display:flex;
  align-items:center;
  gap:10px;
  width:40%;
}

#progress{
  flex:1;
}

#volume{
  width:80px;
}

/* RANGE STYLE */
input[type=range]{
  -webkit-appearance:none;
  background:#111;
  height:4px;
  border:1px solid #ff0033;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:12px;
  height:12px;
  background:#00ff66;
  cursor:pointer;
}

/* VISUALIZER */
#visualizer{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:60px;
  z-index:-1;
}

/* PLAYER UPDATE */
.player{
  position:sticky;
  bottom:0;
  display:flex;
  align-items:center;
  gap:15px;
  flex-wrap:wrap;
}
