*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#000;
  color:#00ff66;
}

.app{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/* HEADER */
.topbar{
  padding:15px;
  border-bottom:2px solid #ff0033;
}

.topbar h1{
  text-align:center;
  text-shadow:0 0 15px #00ff66;
}

/* MAIN */
.main{
  flex:1;
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:260px;
  border-right:2px solid #ff0033;
  padding:15px;
}
.upload-box{
  margin-bottom:15px;
}

.upload-box label{
  display:block;
  border:2px dashed #ff0033;
  padding:10px;
  text-align:center;
  cursor:pointer;
}

.upload-box input{
  display:none;
}

.upload-box label:hover{
  background:#00ff66;
  color:#000;
}


.sidebar h2{
  margin-bottom:10px;
}

.playlist{
  list-style:none;
}

.playlist li{
  padding:8px;
  border-bottom:1px solid #ff0033;
  cursor:pointer;
}

.playlist li.active,
.playlist li:hover{
  background:#00ff66;
  color:#000;
}

/* CONTENT */
.content{
  flex:1;
  padding:20px;
}

/* NOW PLAYING */
.now-playing{
  display:flex;
  align-items:center;
  gap:20px;
  margin-bottom:30px;
}

.cover{
  width:120px;
  height:120px;
  border:2px solid #ff0033;
  background:linear-gradient(135deg,#111,#222);
}

.info p{
  font-size:13px;
  opacity:.7;
}

/* CONTROLS */
.controls{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

.controls button{
  background:#000;
  color:#00ff66;
  border:2px solid #ff0033;
  padding:10px 18px;
  font-size:18px;
  cursor:pointer;
}

.controls button:hover{
  background:#ff0033;
  color:#000;
}

/* PROGRESS */
.progress{
  height:6px;
  border:1px solid #ff0033;
}

.bar{
  width:40%;
  height:100%;
  background:#00ff66;
}

/* MOBILE */
@media(max-width:768px){
  .main{
    flex-direction:column;
  }
  .sidebar{
    width:100%;
    border-right:none;
    border-bottom:2px solid #ff0033;
  }
}
