/* PLAYER */
.player{
  position:sticky;
  bottom:0;
  background:#000;
  border-top:2px solid #ff0033;
  padding:10px 15px;
}

/* ROW TOP */
.player-top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
}

/* TRACK INFO */
.track strong{
  display:block;
  font-size:14px;
}

.track span{
  font-size:11px;
  opacity:.7;
}

/* CONTROLS */
.controls{
  display:flex;
  gap:15px;
}

.controls button{
  background:#000;
  color:#00ff66;
  border:2px solid #ff0033;
  padding:6px 12px;
  font-size:18px;
  cursor:pointer;
}

.controls button.play{
  font-size:22px;
}

.controls button:hover{
  background:#ff0033;
  color:#000;
}

/* VOLUME */
.volume-box{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:12px;
}

.volume-box input{
  width:80px;
}

/* PROGRESS */
.player-bottom{
  margin-top:8px;
}

#progress{
  width:100%;
}

/* RANGE */
input[type=range]{
  -webkit-appearance:none;
  height:4px;
  background:#111;
  border:1px solid #ff0033;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:12px;
  height:12px;
  background:#00ff66;
  cursor:pointer;
}

/* VISUALIZER (HALUS, BACKGROUND) */
#visualizer{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:50px;
  opacity:.25;
  pointer-events:none;
}
