*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#000;
  color:#00ff66;
}

.app{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/* TOP */
.topbar{
  display:flex;
  align-items:center;
  gap:15px;
  padding:12px;
  border-bottom:2px solid #ff0033;
}

.topbar h1{
  text-shadow:0 0 12px #00ff66;
}

#search{
  flex:1;
  padding:8px;
  background:#000;
  border:2px solid #ff0033;
  color:#00ff66;
}

/* GENRE */
.genre-bar{
  display:flex;
  gap:10px;
  padding:10px;
  overflow-x:auto;
  border-bottom:1px solid #ff0033;
}

.genre{
  padding:6px 14px;
  border:2px solid #ff0033;
  cursor:pointer;
}

.genre.active,
.genre:hover{
  background:#00ff66;
  color:#000;
}

/* MAIN */
.main{
  flex:1;
  display:flex;
  overflow:hidden;
}

.sidebar{
  width:300px;
  border-right:2px solid #ff0033;
  overflow-y:auto;
}

.playlist{
  list-style:none;
}

.playlist li{
  padding:10px;
  border-bottom:1px solid #ff0033;
  cursor:pointer;
}

.playlist li.active{
  background:#00ff66;
  color:#000;
}

/* PLAYER */
.player{
  position:sticky;
  bottom:0;
  background:#000;
  border-top:2px solid #ff0033;
  display:flex;
  align-items:center;
  gap:15px;
  padding:10px;
  flex-wrap:wrap;
}

.track span{
  font-size:12px;
  opacity:.7;
}

.controls button{
  background:#000;
  color:#00ff66;
  border:2px solid #ff0033;
  padding:6px 14px;
  font-size:18px;
  cursor:pointer;
}

.controls button:hover{
  background:#ff0033;
  color:#000;
}

.extra{
  display:flex;
  gap:10px;
  flex:1;
}

/* RANGE */
input[type=range]{
  -webkit-appearance:none;
  height:4px;
  background:#111;
  border:1px solid #ff0033;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:12px;
  height:12px;
  background:#00ff66;
  cursor:pointer;
}

/* VISUALIZER */
#visualizer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:60px;
  z-index:-1;
}

/* MOBILE */
@media(max-width:768px){
  .sidebar{display:none;}
}
